# Variables d'environnement
.env
.env.local

# Logs
*.log

# Cache
cache/
tmp/

# Dossiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Vendor (si utilisé avec Composer)
/vendor/
